.leftplaneBox{
    flex:2;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    font-family:sans-serif;
    position: sticky;
    top: 50px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: rgb(205, 212, 218);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(138, 138, 138);
}
.leftplaneContainer{
    padding: 20px;
}
.leftplaneMenu{
    padding: 0;
    margin: 0;
    list-style: none;
}
.leftplaneMenuItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.leftpanelMenuIcon{
    margin-right: 20px;
}
.pagePic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.pagesyouliked{
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(151, 150, 148);
}
.pagelist{
    padding: 0;
    margin: 0;

}
.pagelistItem{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 10px;
    cursor: pointer;
}
.pageName{
    margin-left: 10px;
}